/**
 * Black theme for reveal.js. This is the opposite of the 'white' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */
@import url(../../lib/font/source-sans-pro/source-sans-pro.css);
section.has-light-background, section.has-light-background h1, section.has-light-background h2, section.has-light-background h3, section.has-light-background h4, section.has-light-background h5, section.has-light-background h6 {
  color: #222; }

/*********************************************
 * VARIABLES
 *********************************************/
:root {
  /* General font-family: */
  --main-font-family: 'Montserrat Alternates', helvetica, sans-serif; 
  /* Theme colors: */
  --main-color: rgb(209, 107, 50);
  --main-hover-color: rgb(249, 147, 80);
  --main-discreet-color: rgba(209, 107, 50, 0.7);
}

/*********************************************
 * CUSTOM HIGHLIGHTING
 *********************************************/

code span.al { color: #ff0000; font-weight: bold; } /* Alert */
code span.an { color: #60a0b0; font-weight: bold; font-style: italic; } /* Annotation */
code span.at { color: #7d9029; } /* Attribute */
code span.bn { color: #40a070; } /* BaseN */
code span.bu { } /* BuiltIn */
code span.cf { color: rgba(255, 140, 0, 0.7); font-weight: bold; } /* ControlFlow */
code span.ch { color: #4070a0; } /* Char */
code span.cn { color: #880000; } /* Constant */
code span.co { color: #60a0b0; font-style: italic; } /* Comment */
code span.cv { color: #60a0b0; font-weight: bold; font-style: italic; } /* CommentVar */
code span.do { color: #ba2121; font-style: italic; } /* Documentation */
code span.dt { color: rgba(255, 170, 0, 0.6); } /* DataType */
code span.dv { color: rgb(255, 160, 160); } /* DecVal */
code span.er { color: #ff0000; font-weight: bold; } /* Error */
code span.ex { } /* Extension */
code span.fl { color: #40a070; } /* Float */
code span.fu { color: #06287e; } /* Function */
code span.im { } /* Import */
code span.in { color: #60a0b0; font-weight: bold; font-style: italic; } /* Information */
code span.kw { color: rgb(160,255,255); font-weight: bold; } /* Keyword */
code span.op { color: #666666; } /* Operator */
code span.ot { color: #007020; } /* Other */
code span.pp { color: #bc7a00; } /* Preprocessor */
code span.sc { color: #4070a0; } /* SpecialChar */
code span.ss { color: #bb6688; } /* SpecialString */
code span.st { color: #4070a0; } /* String */
code span.va { color: #19177c; } /* Variable */
code span.vs { color: #4070a0; } /* VerbatimString */
code span.wa { color: #60a0b0; font-weight: bold; font-style: italic; } /* Warning */

a.sourceLine {
  color: white !important;
}

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #222;
  background-color: #222; }

.reveal {
  font-family: var(--main-font-family);
  font-size: 34px;
  font-weight: normal;
  color: #fff; }

::selection {
  color: #fff;
  background: #bee4fd;
  text-shadow: none; }

::-moz-selection {
  color: #fff;
  background: #bee4fd;
  text-shadow: none; }

.reveal .slides > section,
.reveal .slides > section > section {
  line-height: 1.3;
  font-weight: inherit; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #fff;
  font-family: var(--main-font-family);
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: none;
  text-shadow: none;
  word-wrap: break-word; }

.reveal h1 {
  font-size: 1.6em; }

.reveal h2 {
  font-size: 1.3em; 
  color: rgba(255, 255, 255, 0.5); }

.reveal h3 {
  font-size: 1em; }

.reveal h4 {
  font-size: 1em; }

.reveal h1 {
  text-shadow: none; }

h1.title {
  font-size: 2.6em;
  color: rgba(255, 255, 255,0.5);;
  /*text-transform: none;*/
}
h1.subtitle {
  font-size: 1.2em;
  /*text-transform: none;*/
}
h2.author {
  font-size: 0.6em;
  color: white;
  /*text-transform: none;*/
}
h3.date {
  font-size: 0.6em;
  /*text-transform: none;  */
}
/*********************************************
 * OTHER
 *********************************************/
.reveal p {
  margin-top: 40px;
  line-height: 1.3; 
  text-align: justify; }

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%; }

.reveal strong,
.reveal b {
  font-weight: bold; }

.reveal em {
  font-style: italic; }

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em; }

.reveal ol {
  list-style-type: decimal; }

.reveal ul {
  list-style-type: disc; 
  margin-top: 40px;
  margin-left: 100px; 
  float: left; }

.reveal ul ul {
  list-style-type: square; }

.reveal ul ul ul {
  list-style-type: circle; }

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px; }
  
.reveal li {
  margin-bottom: 20px; }

.reveal dt {
  font-weight: bold; }

.reveal dd {
  margin-left: 40px; }

.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: 20px auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block; }

.reveal q {
  font-style: italic; }

.reveal pre {
  display: block;
  position: relative;
  width: 100%;
  margin: 20px auto;
  text-align: left;
  font-size: 16px;
  font-family: monospace;
  line-height: 1;
  word-wrap: break-word;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3); }

.reveal code {
  font-family: monospace;
  text-transform: none; }

.reveal pre code {
  font-size: 16pt;
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 600px;
  word-wrap: normal; 
  background-color: rgba(255, 255, 255, 0.05); }

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0; }

.reveal table th {
  font-weight: bold; }

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid; }

.reveal table th[align="center"],
.reveal table td[align="center"] {
  text-align: center; }

.reveal table th[align="right"],
.reveal table td[align="right"] {
  text-align: right; }

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom: none; }

.reveal sup {
  vertical-align: super; }

.reveal sub {
  vertical-align: sub; }

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top; }

.reveal small * {
  vertical-align: top; }

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: var(--main-color);
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  transition: color .15s ease; }
 
.reveal a:hover {
  color: var(--main-hover-color);
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #068de9; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: transparent;
  border: none;
  box-shadow: none; }

.reveal section img.plain {
  border: 0;
  box-shadow: none; }

.reveal a img {
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #42affa;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
 .reveal .controls .navigate-left,
 .reveal .controls .navigate-left.enabled {
   border-right-color: var(--main-color); }
 
 .reveal .controls .navigate-right,
 .reveal .controls .navigate-right.enabled {
   border-left-color: var(--main-color); }
 
 .reveal .controls .navigate-up,
 .reveal .controls .navigate-up.enabled {
   border-bottom-color: var(--main-color); }
 
 .reveal .controls .navigate-down,
 .reveal .controls .navigate-down.enabled {
   border-top-color: var(--main-color); }
 
 .reveal .controls .navigate-left.enabled:hover {
   border-right-color: var(--main-hover-color); }
 
 .reveal .controls .navigate-right.enabled:hover {
   border-left-color: var(--main-hover-color); }
 
 .reveal .controls .navigate-up.enabled:hover {
   border-bottom-color: var(--main-hover-color); }
 
 .reveal .controls .navigate-down.enabled:hover {
   border-top-color: var(--main-hover-color); }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }
 
.reveal .progress span {
  background: var(--main-color);
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

/*********************************************
 * SLIDE NUMBER
 *********************************************/

.reveal .slide-number {
  position: fixed;
  display: block;
  left: 7px;
  bottom: 8px;
  z-index: 31;
  font-family: var(--main-font-family);
  font-size: 50%;
  line-height: 1;
  color: var(--main-color);
  background-color: transparent;
  padding: 5px;
}

/*********************************************
 * FONT AWESOME ADJUSTMENTS
 *********************************************/

.fab {
  color: var(--main-discreet-color);
}
.fab:hover { 
	color: var(--main-hover-color);
	-webkit-transition: all .3s ease-in;
	-moz-transition: all .3s ease-in;
	-o-transition: all .3s ease-in;
	-ms-transition: all .3s ease-in;
	transition: all .3s ease-in; 
}